body{
    background-color: black;
  }

#box{
    /* align-content: center; */
    width: 50%;
    margin-left:25%;
    margin-top: 10%;
}
h1{
    font-family: 'Zen Dots', cursive;
    color: white; 
    font-weight: 400;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
    text-transform: uppercase;
    /* text-align: center; */
}
img{
    border: 5px solid white;
    width: 100%;
}
p{
    color: white;
    margin-left: 22%;
    margin-top: 0%;
    /* text-align: center; */
}